language: php

php:
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: 7.0

install:
  - travis_retry composer self-update && composer --version
  - travis_retry composer global require fxp/composer-asset-plugin:~1.0
  - travis_retry composer install --prefer-dist --no-interaction --dev

before_script:
  - mysql -e 'create database yii2_multilingual;'
  - mysql yii2_multilingual < tests/migrations/mysql.sql

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

cache:
  - vendor
  - $HOME/.composer/cache
